.site-card-border-less-wrapper {
    padding: 30px;
  }
.ncenter{
  text-align: center;
  background-color: #f0f2f5;
  
}
.nleft{
  text-align: left;
}
.yearleft{
  text-align: center;
  width: 500px;
}
.container {
  height: 100%;
  width: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

